<div class="mb-4">
  <div class="card h-100 position-relative">
    <%= link_to post_path(post, from: from), class: "stretched-link" do %>
      <!-- 空タグでstretched-linkを有効化 -->
    <% end %>

    <%= image_tag post.get_post_image(300, 200), class: "card-img-top" %>

    <div class="card-body">
      <h4 class="card-title"><strong><%= post.title %></strong></h4>
      <p class="card-text">場所：<%= post.location_name %></p>
      <p class="card-text">投稿日：<%= l(post.created_at, format: :short) %></p>
      <p class="card-text">投稿者：<%= post.user.nickname %></p>
      <p class="card-text">コメント数：<%= post.comments.count %>件</p>
    </div>
  </div>
</div>
