<!-- タイトル -->
<h2 class="mt-4 mb-4"><%= post.title %></h2>

<!-- 画像 -->
<div class="mb-4">
  <%= image_tag post.get_post_image(880, 586), class: "img-fluid" %>
</div>

<!-- テーブル -->
<div class="table-responsive">
  <table class="table table-borderless border-bottom w-100">
    <tbody>
      <!-- 投稿者 -->
      <tr class="border-bottom">
        <th class="text-start align-middle">投稿者</th>
        <td class="d-flex align-items-center">
          <%= image_tag post.user.get_profile_image(40, 40), class: "rounded-circle me-2", alt: "投稿者画像" %>
          <% if user_signed_in? %>
            <%= link_to post.user.nickname, my_page_user_path(post.user, from: 'post'), class: "text-decoration-none fw-bold" %>
          <% else %>
            <span style="color: black;"><%= post.user.nickname %></span>
          <% end %>
        </td>
      </tr>

      <!-- 本文 -->
      <tr class="border-bottom">
        <th class="text-start align-middle">本文</th>
        <td><%= post.body.gsub(/\r\n|\r|\n/, ' ') %></td>
      </tr>

      <!-- その他の情報 -->
      <tr class="border-bottom">
        <th class="text-start align-middle">都道府県</th>
        <td><%= post.prefecture.name %></td>
      </tr>
      <tr class="border-bottom">
        <th class="text-start align-middle">場所ジャンル</th>
        <td><%= post.location_genre.name %></td>
      </tr>
      <tr class="border-bottom">
        <th class="text-start align-middle">場所名</th>
        <td><div><%= post.location_name %></div></td>
      </tr>
      <tr class="border-bottom">
        <th class="text-start align-middle">住所</th>
        <td><%= post.address %></td>
      </tr>
      <tr class="border-bottom">
        <th class="text-start align-middle">訪問月</th>
        <td><%= post.visited_month.number %></td>
      </tr>
      <tr class="border-bottom">
        <th class="text-start align-middle">訪問時間帯</th>
        <td><%= post.visited_time_zone.hour %></td>
      </tr>
      <tr class="border-bottom">
        <th class="text-start align-middle">投稿日時</th>
        <td><%= l(post.created_at, format: :long) %></td>
      </tr>

      <!-- 閲覧数 -->
      <tr class="border-bottom">
        <th class="text-start align-middle">閲覧数</th>
        <td><%= post.view_count %>回</td>
      </tr>

      <!-- いいね（件数だけ表示） -->
      <tr class="border-bottom">
        <th class="text-start align-middle">いいね数</th>
        <td id="favorite-count-<%= post.id %>">
          <div class="d-inline"><%= post.favorites.count %>件</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- いいねボタン（非同期） -->
<% if user_signed_in? && current_user != post.user %>
  <div class="text-end mt-2 w-100" id="favorite-button-<%= post.id %>">
    <%= render 'public/posts/favorite_button', post: post %>
  </div>
<% end %>
