<div class="d-flex justify-content-center">
  <div style="max-width: 880px; width: 100%;">
    <!-- タイトル -->
    <h2 class="mt-4 mb-4"><%= @post.title %></h2>

    <!-- 画像 -->
    <div class="mb-4">
      <%= image_tag @post.get_post_image(880, 586), class: "img-fluid" %> <%# アスペクト比 3:2 %>
    </div>

    <!-- テーブル：下線のみ・左揃え -->
    <table class="table table-borderless border-bottom" style="width: 880px;">
      <tbody>
        <tr class="border-bottom">
          <th class="text-start align-middle">投稿者</th>
          <td>
            <% if user_signed_in? %>
              <%= link_to @post.user.nickname, my_page_user_path(@post.user, from: 'post') %>
            <% else %>
              <span style="color: black;"><%= @post.user.nickname %></span>
            <% end %>
          </td>
        </tr>
        <tr class="border-bottom">
          <th class="text-start align-middle">本文</th>
          <td><%= simple_format(@post.body) %></td>
        </tr>
        <tr class="border-bottom">
          <th class="text-start align-middle">都道府県</th>
          <td><%= @post.prefecture.name %></td>
        </tr>
        <tr class="border-bottom">
          <th class="text-start align-middle">場所ジャンル</th>
          <td><%= @post.location_genre.name %></td>
        </tr>
        <tr class="border-bottom">
          <th class="text-start align-middle">場所名</th>
          <td><%= @post.location_name %></td>
        </tr>
        <tr class="border-bottom">
          <th class="text-start align-middle">住所</th>
          <td><%= @post.address %></td>
        </tr>
        <tr class="border-bottom">
          <th class="text-start align-middle">訪問月</th>
          <td><%= @post.visited_month.number %></td>
        </tr>
        <tr class="border-bottom">
          <th class="text-start align-middle">訪問時間帯</th>
          <td><%= @post.visited_time_zone.hour %></td>
        </tr>
        <tr class="border-bottom">
          <th class="text-start align-middle">投稿日時</th>
          <td><%= l(@post.created_at, format: :long) %></td>
        </tr>
      </tbody>
    </table>

    <!-- コメントセクション -->
    <div id="comment-section" class="mt-5">
      <%= render 'public/comments/comments', post: @post %>
    </div>

    <!-- ボタン類 -->
    <% from = params[:from] %>

    <div class="text-center mt-5 mb-5 d-flex flex-column align-items-center">
      <% if @post.user == current_user %>
        <div class="mb-4 d-flex justify-content-center gap-2">
          <%= link_to '編集する', edit_post_path(@post), class: "custom-green-btn" %>
          <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "custom-red-btn" %>
        </div>
      <% end %>

      <% if from == 'mypage' %>
        <%= link_to 'マイページへ戻る', my_page_user_path(current_user), class: "custom-outline-btn mt-2" %>
      <% elsif from == 'search' %>
        <%= link_to '検索結果へ戻る', request.referer || search_path, class: "custom-outline-btn mt-2" %>
      <% elsif from == 'genre' %>
        <%= link_to 'ジャンル検索へ戻る', location_genre_path(@post.location_genre), class: "custom-outline-btn mt-2" %>
      <% elsif from == 'top' %>
        <%= link_to 'トップページへ戻る', root_path, class: "custom-outline-btn mt-2" %>
      <% else %>
        <%= link_to '投稿一覧へ戻る', posts_path, class: "custom-outline-btn mt-2" %>
      <% end %>
    </div>

  </div>
</div>
