<h1 class="text-center mt-5 mb-4">検索結果（<%= @model == "user" ? "ユーザー" : "投稿" %>）</h1>

<% if @results.any? %>
  <% if @model == "user" %>
    <% @results.each do |result| %>
      <%= render partial: "public/users/user_card", object: result, as: :user, locals: { from: 'search' } %>
    <% end %>

  <% elsif @model == "post" %>
    <% if @results.any? %>
      <%= render 'public/posts/sort_links' %>
    <% end %>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% @results.each do |result| %>
        <%= render partial: "public/posts/post_card", object: result, as: :post, locals: { from: 'search', genre_id: nil } %>
      <% end %>
    </div>
  <% end %>

  <div class="d-flex justify-content-center my-4">
    <%= paginate @results %>
  </div>

<% else %>
  <p class="text-center">該当する結果はありませんでした。</p>
<% end %>
