<%= paginator.render do %>
  <% if total_pages > 1 %>
    <nav aria-label="ページネーション">
      <ul class="pagination justify-content-center my-4">

        <% unless current_page.first? %>
          <li class="page-item">
            <%= link_to raw("&laquo; 最初"), url_for(page: 1), class: 'page-link' %>
          </li>
          <li class="page-item">
            <%= link_to raw("&lsaquo; 前へ"), url_for(page: current_page - 1), class: 'page-link', rel: 'prev' %>
          </li>
        <% end %>

        <% each_page do |page| %>
          <% if page.display_tag? %>
            <% if page.current? %>
              <li class="page-item active">
                <span class="page-link"><%= page %></span>
              </li>
            <% else %>
              <li class="page-item">
                <%= link_to page, url_for(page: page), class: 'page-link', remote: remote, rel: page.rel %>
              </li>
            <% end %>
          <% elsif !page.was_truncated? %>
            <li class="page-item disabled"><span class="page-link">…</span></li>
          <% end %>
        <% end %>

        <% unless current_page.last? %>
          <li class="page-item">
            <%= link_to raw("次へ &rsaquo;"), url_for(page: current_page + 1), class: 'page-link', rel: 'next' %>
          </li>
          <li class="page-item">
            <%= link_to raw("最後 &raquo;"), url_for(page: total_pages), class: 'page-link' %>
          </li>
        <% end %>

      </ul>
    </nav>
  <% end %>
<% end %>
