<h2>ログイン</h2>

<p>会員の方はこちらからログイン</p>
<%= form_with scope: :user, url: user_session_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="login-form">
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="form-group submit-btn">
      <%= f.submit "ログイン", class: "btn" %>
    </div>
  </div>
<% end %>

<p>
  会員登録がお済みでない方
  <%= render "public/shared/links" %>
  から新規登録を行ってください。
</p>


