<% if defined?(@users) && @users.present? %>
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 mb-3">
    <%= link_to '新着順',
                url_for(params.to_unsafe_h.merge(sort: 'new', page: nil)),
                class: "custom-outline-btn #{'active' if params[:sort] == 'new' || params[:sort].blank?}" %>

    <%= link_to '名前順',
                url_for(params.to_unsafe_h.merge(sort: 'name', page: nil)),
                class: "custom-outline-btn #{'active' if params[:sort] == 'name'}" %>
  </div>
<% elsif defined?(@posts) && @posts.present? %>
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 mb-3">
    <%= link_to '新着順',
                url_for(params.to_unsafe_h.merge(sort: 'new', page: nil)),
                class: "custom-outline-btn #{'active' if params[:sort] == 'new' || params[:sort].blank?}" %>

    <%= link_to 'タイトル順',
                url_for(params.to_unsafe_h.merge(sort: 'title', page: nil)),
                class: "custom-outline-btn #{'active' if params[:sort] == 'title'}" %>
  </div>
<% elsif defined?(@comments) && @comments.present? %>
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 mb-3">
    <%= link_to '新着順',
                url_for(params.to_unsafe_h.merge(sort: 'new', page: nil)),
                class: "custom-outline-btn #{'active' if params[:sort] == 'new' || params[:sort].blank?}" %>
    <%= link_to 'あいうえお順',
                url_for(params.to_unsafe_h.merge(sort: 'aiueo', page: nil)),
                class: "custom-outline-btn #{'active' if params[:sort] == 'aiueo'}" %>

  </div>
<% end %>
