<h2>
  <%= @user == current_user ? "マイページ" : "#{@user.nickname}さんのマイページ" %>
</h2>

<% if current_user == @user %>
  <%= link_to '新規投稿', new_post_path, class: "btn btn-primary mb-3" %>
<% end %>　
<%= link_to 'プロフィール詳細', user_path(@user), class: "btn btn-outline-secondary mb-3" %>

<table class="table table-borderless mb-4">
  <tr>
    <td style="width: 150px;" class="align-top text-center">
      <% if @user.image.attached? %>
        <%= image_tag @user.image.variant(resize_to_fill: [120, 120]), class: "rounded-circle" %>
      <% else %>
        <%= image_tag "no_image.jpg", width: 120, class: "rounded-circle" %>
      <% end %>
    </td>
    <td>
      <p class="mb-2"><strong>都道府県：</strong>
        <%= @user.prefecture.is_a?(Prefecture) ? @user.prefecture.name : @user.prefecture %>
      </p>

      <% if @user.introduction.present? %>
        <p><strong>自己紹介文：</strong><br>
          <%= simple_format(@user.introduction) %>
        </p>
      <% end %>
    </td>
  </tr>
</table>





<h3>投稿一覧</h3>

<% if @posts.any? %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <% if post.image.attached? %>
            <%= link_to post_path(post) do %>
              <%= image_tag post.image, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
            <% end %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><strong><%= post.title %></strong></h4>
            <p class="card-text">場所名：<%= post.location_name %></p>
            <p class="card-text">投稿日：<%= l(post.created_at, format: :long) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>投稿はまだありません。</p>
<% end %>

<% if @user != current_user %>
  <div class="mt-3">
    <%= link_to '投稿一覧へ戻る', posts_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
