<header style="position: fixed; top: 0; width: 100%; z-index: 1030; background-color: #eaf1ec; padding-top: 1.5rem; padding-bottom: 1.5rem;">
  <nav class="navbar navbar-expand-lg" style="width: 100%;">
    <div class="container">

      <!-- ロゴ + タイトル -->
      <%= link_to root_path, class: 'navbar-brand d-flex align-items-center text-decoration-none me-4' do %>
        <%= image_tag('logo.jpg', alt: 'ニホタビ', height: '60', class: 'me-2') %>
        <span class="fw-bold fs-2" style="color: #2e6044;">ニホタビ</span>
      <% end %>

      <% if user_signed_in? %>
        <span class="fw-semibold fs-6 d-none d-lg-inline" style="color: #2e6044;">
          ようこそ、<%= current_user.nickname %>さん！
        </span>
      <% end %>

      <% unless controller_path == 'admin/sessions' && action_name == 'new' %>
        <!-- ハンバーガーボタン -->
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarMenu" aria-controls="navbarMenu"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- ナビゲーションメニュー -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
          <% if admin_signed_in? %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to 'ユーザー一覧', admin_root_path, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
              <li class="nav-item">
                <%= link_to '投稿一覧', admin_posts_path, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
              <li class="nav-item">
                <%= link_to 'コメント一覧', admin_comments_path, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
              <li class="nav-item">
                <%= link_to 'お問い合わせ一覧', admin_inquiries_path, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
              <li class="nav-item">
                <%= link_to 'データ管理', admin_master_data_path, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
            </ul>

          <% elsif user_signed_in? %>
            <div class="d-flex align-items-center">
              <%= link_to notifications_path, title: '通知', class: 'nav-link position-relative mx-2', style: 'color: #2e6044;' do %>
                <i class="fa-solid fa-bell fa-lg"></i>
                <% unread_count = current_user.passive_notifications.where(checked: false).count %>
                <% if unread_count > 0 %>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <%= unread_count %>
                  </span>
                <% end %>
              <% end %>
              <%= link_to my_page_user_path(current_user), title: 'マイページ', class: 'nav-link mx-2', style: 'color: #2e6044;' do %>
                <i class="fa-solid fa-user fa-lg"></i>
              <% end %>
              <%= link_to new_post_path, title: '新規投稿', class: 'nav-link mx-2', style: 'color: #2e6044;' do %>
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
              <% end %>
              <%= link_to posts_path, title: '投稿一覧', class: 'nav-link mx-2', style: 'color: #2e6044;' do %>
                <i class="fa-solid fa-list fa-lg"></i>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, title: 'ログアウト', class: 'nav-link mx-2', style: 'color: #2e6044;' do %>
                <i class="fa-solid fa-right-from-bracket fa-lg"></i>
              <% end %>
            </div>

          <% else %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to 'About', about_path, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
              <li class="nav-item">
                <%= link_to '新規登録', new_user_registration_path, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログイン', new_user_session_path, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ゲストログイン（閲覧用）', guests_sign_in_path, method: :post, class: 'nav-link fw-semibold', style: 'color: #2e6044;' %>
              </li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
