<!DOCTYPE html>
<html>
  <head>
    <title>Nihotabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body>
    <% unless controller_path == 'admin/sessions' && action_name == 'new' %>
      <%= render 'layouts/header' %>

      <% if user_signed_in? || admin_signed_in? %>
        <%= render 'layouts/search' %>
      <% end %>

    <% end %>

    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
